#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$tLXkuGc3xCWGLlBL$wgcK4MpfxCizQkxFgMJof5DIlQrJxEszCr1YdlpbUEdnbvS1.sbYHIYSmk8Z5RS4JYROkVTKZ/bsABD/kcwoQ1
# System services
services --disabled="chronyd"
# System timezone
timezone Europe/Amsterdam --isUtc --nontp
user --groups=wheel --name=testuser --password=$6$MrRli99l6wEJ/nOI$Lh0dwTwznOx5rmOx75RQxHeXqscY.A9LB3gJLxUl/9C3tMyd./.m35xTTCLRDZOp9rsObszo6mA2ut622W/ty1 --iscrypted --gecos="testuser"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot --fstype="ext4" --ondisk=vda --size=1024
part pv.156 --fstype="lvmpv" --ondisk=vda --size=50175
volgroup vg00 --pesize=4096 pv.156
logvol /  --fstype="ext4" --size=8192 --name=root --vgname=vg00
logvol /var/log  --fstype="ext4" --size=8192 --name=var_log --vgname=vg00
logvol swap  --fstype="swap" --size=2048 --name=swap --vgname=vg00
logvol /app  --fstype="ext4" --size=11252 --name=app --vgname=vg00
logvol /var  --fstype="ext4" --size=8192 --name=var --vgname=vg00
logvol /home  --fstype="ext4" --size=4096 --name=home --vgname=vg00
logvol /opt  --fstype="xfs" --size=8192 --name=opt --vgname=vg00

%packages
@^minimal
@core
kexec-tools
openscap
openscap-scanner
scap-security-guide

%end

%addon org_fedora_oscap
    content-type = scap-security-guide
    profile = standard
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
